body {
    background-color: black;
}

hr {
    color: white;
}

.carousel-image {
    height: 15.5rem;
}

.image-thumbnail {
    width: auto;
    height: 300px;
}

.landing-card-height {
    height: 30rem;
}

.carousel-image-height {
    background-color: black;
    max-width: fit-content;
    height: 28.75rem;
    align-self: center;
}

.card-body-height {
    height: 20rem;
}

.bg-dark-transparent {
    width: fit-content;
    background-color: rgb(0, 0, 0, 0.7);
}