body {
    background-color: black;
}

hr {
    color: white;
}

.carousel-image {
    height: 15.5rem;
}

.image-thumbnail {
    width: auto;
    height: 300px;
}

.landing-card-height {
    height: fit-content;
}